[run]
branch = True
source = src/keyswitch
omit =
    src/keyswitch/windows_native.py
    src/keyswitch/windows_instance_native.py
    src/keyswitch/windows_registry.py
    src/keyswitch/windows_tray_native.py
    src/keyswitch/windows_ui.py

[report]
exclude_also =
    class .*\bProtocol\):
    @overload
fail_under = 100
precision = 0
show_missing = True
